/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";

$background-color: #252525;
$font-color: #fff !important;

.p-card {
  background-color: $background-color;
  color: $font-color;
}

.text-center {
  text-align: center;
}
